@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
    font-family: "Pretendard", sans-serif;
    margin: 0;
    padding: 0;

    text-wrap: balance;
    word-break: keep-all;
}
main {
    padding: 80px 20vw;
    display: flex;
    flex-wrap: wrap;
    /* height: 100vh; */
    gap: 20px;
}
article {
    flex: 1;
    background-color: #fff;
    > h1 {
        font-size: 32px;
        font-weight: 700;
    }
    > p {
        margin-bottom: 8px;
    }

    font-size: 20px;
    border: solid 1px #ebebeb ;
    border-radius: 20px;
    min-width: min(60vw, 200px);
    padding: 20px;

    position: relative;


    &:first-child {
        width: calc(60vw - 40px);
        min-width: calc(60vw - 40px);

        background-color: #FCF6F6;
        padding-bottom: 64px;
        > h1 { font-size: 44px; color: #EC3750; }
    }
    &:nth-child(2) {

        > h1 { color: #234597 }
        background-color: #F6F8FF;
    }
    &:nth-child(3) {
        flex: 2;
        > p {
            margin-bottom: 40px;
        }
        > .btn {
            padding: 8px 16px;
            font-size: 16px;
            border-radius: 10px;
            background-color: #000;
            color: #fff;
            &:hover {
                background-color: #000;
                box-shadow: #00000019 0 4px 30px;
            }
            &:active {
                transform: scale(0.9);
            }
        }
    }
    &:last-child {
        > h1 { color: #742294 }
        background-color: #FDF4FD;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding: 8px 8vw;
    background-color: #fff;
    z-index: 100;
    > img {
        height: 100%;
    }
}

#ball {
    position: absolute;
    background-color: #fff;
    mix-blend-mode: difference;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.btn {
    z-index: 100;
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    background-color: #EC3750;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    transition: all .5s;
    &:hover {
        background-color: #D92E44;
        transform: translateY(-2px);
        box-shadow: #ec374f58 0 4px 30px;
    }
    &:active {
        transform: scale(0.9);
    }
}
input, textarea {
    z-index: 100;
    position: relative;
}


form {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 8px;
}
input[type=submit] {
        z-index: 100;
        padding: 8px 16px;
        border: none;
        border-radius: 8px;
        background-color: #742294;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        transition: all .5s;
        &:hover {
            background-color: #742294;
            transform: translateY(-2px);
            box-shadow: #74229458 0 4px 30px;
        }
        &:active {
            transform: scale(0.9);
        }
}
input[type=email] {
    z-index: 100;
    outline: solid 1px #ebebeb;
    border: 0;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    color: #000;
    text-decoration: none;
    font-size: 16px;
    transition: all .5s;
    &:hover {
        transform: translateY(-1px);
        box-shadow: #94227d10 0 4px 30px;
    }
    &:active {
        transform: scale(0.9);
    }
    &:focus {
        outline: solid 1px #ebebeb;
    }
}